.products {
  min-height: 100vh;
  background-color: #edf2f8;
}

.searchForm {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 900px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.productsNavs {
  justify-content: center;
  align-items: center;
  display: flex;
}

.addProductButton {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: #726da8;
  color: white;
  border-radius: 9px;
  padding: 16px;

  &:hover {
    cursor: pointer;
  }
}

.searchBar {
  width: 50%;
  border: none;
  padding: 16px;
  background-color: #726da8;
  color: white;
  border-radius: 9px 0px 0px 9px;
}

.searchButton {
  background: #726da8;
  border: none;
  padding: 16px 32px;
  color: white;
  border-radius: 0px 9px 9px 0px;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
